# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.



### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [5]:
#Create a tuple with the first 10 positive integers. Print the tuple.
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple
a=tuple(range(1,11))
print(a)
print(a[0],a[len(a)//2],a[-1])
print(a[0:3],a[2:5],a[-3::])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 6 10
(1, 2, 3) (3, 4, 5) (8, 9, 10)

In [6]:
a=((1,2,3),(4,5,6),(7,8,9))
print(a[1][2])

6

In [7]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [12]:
#Create a tuple with duplicate elements and count the occurrences of an element. 
# Find the index of the first occurrence of an element in the tuple.
tup=(1,2,2,3,3,3,6,7,8,6,6,5,4)
tup.count(2)
tup.index(2)

1

In [18]:
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tup=(1,2,3,4,5)
a,b,c,d,e=tup

In [29]:
"""Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
Create a dictionary with tuple keys and integer values. Print the dictionary.
Create a nested tuple and iterate over the elements, printing each element.
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple."""

a=('r','a','k','e','s','h')
print("".join(a) ,end="")

rakesh

In [30]:
a=(1,2,3,4,5,6,7,8,9)
print(min(a),max(a),sum(a))

1 9 45